* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
/* common */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 6px;
    background: #212832;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}
/* header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    align-items: center;
}
.navbar {
    margin-left: 70px;
}
.header-action {
    margin-left: auto;
}
.nav__list {
    display: flex;
}
.nav__link,
.header-action__link {
    padding: 12px 24px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.nav__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}
.header-action__btn {
    --height: 52px;
    min-width: 113px;
}
/* hero */
.hero {
    margin-top: 76px;
}
.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}
.hero__content {
    width: 522px;
}
.hero__title {
    position: relative;
    padding-left: 30px;
    color: #696d77;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.hero__title::before {
    position: absolute;
    display: block;
    top: 13px;
    left: 0;
    content: "";
    width: 22px;
    height: 2px;
    background: #696d77;
}
.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}
.hero__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.16;
}
.search__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 8px 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.search-form__input {
    height: 67px;
    width: 67%;
    margin-left: 23px;
    border: none;
    outline: none;
    color: #696d76;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.search-form__submit {
    padding: 15px 30px;
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    background: #7264d6;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}
/* hero media */
.hero__phone {
    position: relative;
    width: 300px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}
.hero__phone::before {
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    content: url(/asset/img/hero_phone-top.svg);
    display: inline-block;
    z-index: 1;
}
.hero__phone-card {
    margin: 37px 12px 0;
    border-radius: 20px;
    background: linear-gradient(76deg, #9487ea 11.52%, #8638e5 70.78%);
}
.hero__phone-card-body {
    padding: 16px;
}
.hero__phone-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__phone-title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}
.hero__phone-heading {
    margin-top: 2px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}
.hero__phone-row2 {
    margin-top: 32px;
    display: flex;
    column-gap: 12px;
}
.hero__row-desc2 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
.hero__phone-row3 {
    display: flex;
    column-gap: 36px;
}
.hero__row-desc3 {
    margin-top: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}
.hero__phone-body {
    margin: 24px 12px 42px;
}
.hero__phone-body-trans {
    display: flex;
    justify-content: space-between;
}
.hero__trans-heading {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
}
.hero__phone-review {
    margin-top: 28px;
}
.hero__review-item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}
.hero__item-intro {
    margin-left: 16px;
}
.hero__item-price {
    margin-left: auto;
}
.hero__intro-heading {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
}
.hero__intro-desc {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}
.hero__intro-price-desc {
    text-align: right;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}
.hero__cata-01 {
    position: absolute;
    left: 338px;
    top: 127px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}
.hero__cata-heading {
    color: #fff;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
}
.hero__cata-desc {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}
/* about */
.about {
    margin-top: 160px;
}
.about__inner {
    display: flex;
    column-gap: 237px;
    align-items: flex-end;
}
.about__media {
    position: relative;
}
.about__media-image {
    bottom: 0;
}
.about__content-icon {
    position: absolute;
    left: 339px;
    top: 0;
}
.about__media-user {
    display: block;
    position: absolute;
    left: 5px;
    bottom: 2px;
}
.about__media-adv {
    position: absolute;
    display: flex;
    padding: 15px;
    right: -114px;
    bottom: 92px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.hero__title {
    margin-bottom: 12px;
}
.section__heading-top {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}
.about__content-items {
    margin-top: 70px;
}
.about-heading {
    margin-bottom: 16px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}
.about-desc {
    padding-bottom: 30px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
/* card */
.card {
    margin-top: 160px;
}
.card-inner {
    display: flex;
    column-gap: 97px;
}
.card__heading {
    width: 470px;
    margin: 12px 0 20px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}
.card__content-desc {
    width: 470px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
.card-list {
    margin: 28px 0 38px;
}
.card-item {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    margin-top: 18px;
}
.card-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    left: 0;
    margin-right: 12px;
    background: #7264d6;
    border-radius: 50%;
}
.card__media {
    position: relative;
}
.card-box {
    padding: 38px;
    border-radius: 20px;
    background: linear-gradient(76deg, #9487ea 11.52%, #8638e5 70.78%);
}
.card-row {
    display: flex;
    column-gap: 175px;
    justify-content: space-between;
}
.card-title {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
}
.card-heading {
    margin: 10px 0 100px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
}
.card__bottom-row {
    display: flex;
    column-gap: 28px;
}
.card-desc {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
}
.card-adv-01 {
    position: absolute;
    z-index: 1;
    width: 276px;
    top: -33px;
    right: -100px;
    padding: 23px 12px 0;
    margin-bottom: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
/* digital */
.digital {
    margin-top: 160px;
    padding-top: 160px;
}
.digital-inner {
    display: flex;
    column-gap: 230px;
}
.digital-box {
    width: 470px;
    position: relative;
}
.digital-adv {
    position: absolute;
    top: 143px;
    left: 253px;
}
.digital-user {
    display: block;
    position: absolute;
    left: 14px;
    bottom: 2px;
}

.digital-body {
    padding: 28px;
    background: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}
.digital__adv-heading {
    margin-bottom: 20px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.digital-item {
    display: flex;
    column-gap: 18px;
}
.digital-item-2 {
    margin-top: 18px;
}
/* CLIENT */
.client {
    margin-top: 160px;
}
.client__top {
    width: 435px;
    margin: 0 auto;
    text-align: center;
}
.client__our-cent {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.client__heading {
    margin: 12px 0 18px;
    color: #212832;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}
.client__desc {
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.client-list {
    display: flex;
    column-gap: 30px;
}
.client__body {
    margin-top: 70px;
}
.client-idea {
    border: 1px solid black;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.1);
}
.client-intro {
    padding: 12px 28px;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}
.client__item-box {
    text-align: center;
}
.client-user {
    margin: 36px 0 20px;
}
.client-name {
    margin-bottom: 2px;
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.client-pro {
    color: #696d76;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
/* our blog */
.blog {
    margin-top: 160px;
}
.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__top-heading {
    margin-bottom: 18px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
.blog__top-desc {
    width: 435px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.blog_bottom {
    margin-top: 70px;
}
.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "item-1 item-1 item-2 item-2"
        "item-3 item-3 item-4 item-4";
}
.blog-item {
    border: 1px solid black;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}
.blog__item-body {
    display: flex;
    align-items: center;
    column-gap: 22px;
}
.blog-time {
    margin: 10px 0;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.blog__item-heading {
    margin-bottom: 20px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.blog-link {
    color: #696d76;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}
.blog-link:hover {
    color: #7264d6;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}
.blog-item:hover {
    border: none;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}
.blog__item-1 {
    grid-area: item-1;
    margin-right: 30px;
}

.blog__item-2 {
    grid-area: item-2;
}

.blog__item-3 {
    grid-area: item-3;
    margin-top: 30px;
    margin-right: 30px;
}

.blog__item-4 {
    margin-top: 30px;
    grid-area: item-4;
}
/* app */
.app {
    margin-top: 160px;
}
.app__body {
    border-radius: 24px;
    background: #7264d6;
    height: 466px;
    margin: 0 auto;
}
.our__app-heading {
    padding-top: 140px;
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}
.our__app-desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 435px;
    margin-top: 18px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.app-row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.footer {
    margin-top: 100px;
}
.footer-lists {
    display: flex;
    justify-content: space-between;
}
.footer-heading {
    margin-bottom: 24px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.footer__item li {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-bottom: 10px;
}
.footer-desc {
    color: #6a6e78;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; 
}
.footer__item-bot {
    margin-top: 20px;
}
.footer-form {
    margin: 0;
}
.footer__bot-heading {
    margin: 0;
}
